<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for st in states.values() | sort(attribute='name') %}
			<LI>{{ st.id }}: <B>{{ st.name }}</B>
				<UL>
					{% for ct in cities.values() | sort(attribute='name') -%}
					{% if ct.state_id == st.id %}
					<LI>{{ ct.id }}: <B>{{ ct.name }}</B></LI>
					{% endif %}
					{%- endfor %}
				</UL>
			</LI>
			{% endfor %}
        </UL>
    </BODY>
</HTML>